@model GetArticleViewModel
@using MoneyBlog.Web.Controllers
@using MoneyBlog.Web.ViewModels

<h2>Article</h2>

<img src="@Url.Action("DisplayImage", new{ id = Model.Article.Id})" height=400 width=800 />
<h2>@Model.Article.Title</h2>
<p>Created on:  @Model.Article.CreatedOn.ToShortDateString()</p>
@if (Model.Article.ModifiedOn != null)
{
    <p>Modified on:  @Model.Article.ModifiedOn</p>
}
<p>@Model.Article.Description</p>
<p>Author: @Model.Article.Email</p>
@Html.ActionLink("Like", "Like", new { id = Model.Article.Id, email = Model.Article.Email })

@Html.ActionLink("Dislike", "Dislike", new { id = Model.Article.Id, email = Model.Article.Email })
@Html.ValidationMessage("error")

<p>Leave a comment:</p>
<form id="commentForm">
    <input type="hidden" name="ArticleId" value="@Model.Article.Id" />
    <div class="form-group">
        <label>write comment</label>
        <textarea class="form-control" rows="3" name="Text" placeholder="write your comment here"></textarea>
    </div>
    <button class="btn btn-success" id="btnComment" value="Post" type="button">Leave your comment</button>
</form>

@if (Model.Comments != null && Model.Comments.Count > 0)
{
    foreach (var comment in Model.Comments)
    {
        <p>@comment.Body</p>
        <small class="text-muted">
            Posted by @comment.Email on @comment.CreatedOn
        </small>
    }
}
else
{
    <p>There are no comments on this article</p>
}
<script>
    $("#btnComment").click(function () {
        $.ajax({
            url: "@Url.Action("CreateComment", "Article")",
            type: "post",
            data: $("#commentForm").serialize()
        }).done(function (response) {
            debugger;
            if (response.Success)
            {
                window.location.reload();
            }
            else {
                swal("Error!", response.Message, "error");
            }
        }).fail(function () {
            swal("Error!", "Error Occured. Please try again later", "error");
        });
    });
</script>


