@model ArticleDetailsViewModel
@using MoneyBlog.Web.Controllers
@using MoneyBlog.Web.ViewModels


<h3 class="text-danger">@Html.ValidationSummary()</h3>


<div class="articletitle">@Model.Article.Title</div>
<img src="@Url.Action("DisplayImage", new{ id = Model.Article.Id})" height=400 width=800 />

<div class="datetime">Created on:  @Model.Article.CreatedOn.ToShortDateString()</div>
@if (Model.Article.ModifiedOn != null)
{
    <div class="datetime">Modified on:  @Model.Article.ModifiedOn</div>
}
<p>Author: @Model.Article.Email</p>
<p class="articlebody">@Model.Article.Description</p>

@TempData["message"]
@if (Model.AspNetUser != null)
{

    @Html.ActionLink("Like", "Like", new { id = Model.Article.Id, email = Model.Article.Email })

    @Html.ActionLink("Dislike", "Dislike", new { id = Model.Article.Id, email = Model.Article.Email })

    <p>Leave a comment:</p>
    <input id="Comment" class="form-control" placeholder="write your comment here" rows="3" />
    <input type="hidden" id="ArticleId" value="@Model.Article.Id" />
    <button class="btn btn-success" id="buttonComment" value="Post" type="button">Click here to post</button>


}
else
{
    <p>If you want to comment, please sign in</p>
}

@if (Model.Comments != null && Model.Comments.Count > 0)
{
    foreach (var comment in Model.Comments)
    {
        <p>@comment.Body</p>
        <small class="text-muted">
            Posted by @comment.Email on @comment.CreatedOn
        </small>
        if (comment.Email == Model.AspNetUser.Email && Model.AspNetUser.Email != null)
        {
            @Html.ActionLink("Delete", "DeleteComment", new { id = comment.Id })
            @Html.ActionLink("Edit", "EditComment", new { id = comment.Id })
        }
        if (Model.AspNetUser != null)
        {
            @Html.ActionLink("Report", "ReportComment", new { id = comment.Id })
        }
    }
}
else
{
    <p>There are no comments on this article </p>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="@Url.Content("/Scripts/ajax-comment.js")"></script>

