@model GetArticleViewModel
@using MoneyBlog.Web.Controllers
@using MoneyBlog.Web.ViewModels

<h2>Article</h2>

<img src="@Url.Action("DisplayImage", new{ id = Model.Article.Id})" height=400 width=800 />
<h2>@Model.Article.Title</h2>
<p>Created on:  @Model.Article.CreatedOn.ToShortDateString()</p>
@if (Model.Article.ModifiedOn != null)
{
    <p>Modified on:  @Model.Article.ModifiedOn</p>
}
<p>@Model.Article.Description</p>
<p>Author: @Model.Article.Email</p>
@Html.ActionLink("Like", "Like", new { id = Model.Article.Id, email = Model.Article.Email })

@Html.ActionLink("Dislike", "Dislike", new { id = Model.Article.Id, email = Model.Article.Email })


    <p>Leave a comment:</p>
    <input id="Comment" class="form-control" placeholder="write your comment here" rows="3" />
    <input type="hidden" id="ArticleId" value="@Model.Article.Id" />
    <button class="btn btn-success" id="buttonComment" value="Post" type="button">Click here to post</button>




@if (Model.Comments != null && Model.Comments.Count > 0)
{
    foreach (var comment in Model.Comments)
    {
        <p>@comment.Body</p>
        <small class="text-muted">
            Posted by @comment.Email on @comment.CreatedOn
        </small>
        @Html.ActionLink("Report", "ReportComment", new { id = comment.Id })
    }
}
else
{
    <p>There are no comments on this article</p>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="@Url.Content("/Scripts/ajax-comment.js")"></script>

