@model MoneyBlog.DataLayer.Models.Article
@using MoneyBlog.Web.Controllers
@using MoneyBlog.Web.ViewModels

<h2>Article</h2>

<img src="@Url.Action("DisplayImage", new{ id = Model.Id})" height=400 width=800 />
<h2>@Model.Title</h2>
<p>Created on:  @Model.CreatedOn.ToShortDateString()</p>
@if (Model.ModifiedOn != null)
{
    <p>Modified on:  @Model.ModifiedOn</p>
}
<p>@Model.Description</p>
<p>Author: @Model.Email</p>
 @Html.ActionLink("Like", "Like", new { id = Model.Id })

@Html.ActionLink("Dislike", "Dislike", new { id = Model.Id })

@*@{Html.RenderPartial("Comments");}*@