@model List<MoneyBlog.DataLayer.Models.Article>
@{
    ViewBag.Title = "Searched";
}

<h2>Searched</h2>
@using (Html.BeginForm("Index", "Article", FormMethod.Post))
{
    @Html.TextBox("searching")
    <input type="submit" value="Search" />
}
@foreach (var article in Model)
{
    <div class="col-md-3">
        <div class="rowindex">
            <div class="thumbnail">
                <img src="/Article/DisplayImage/@article.Id" alt="" height=50 width=100 />
                <div class="caption">
                    <p>
                        <a href="@Url.Action("Article","Article",new { id = article.Id })">
                            <br />
                            <span>@article.Title</span>
                        </a>
                    </p>
                    @Html.DisplayFor(modelItem => article.LikeCount) <span class="glyphicon glyphicon-thumbs-up"></span>
                    @Html.DisplayFor(modelItem => article.DislikeCount) <span class="glyphicon glyphicon-thumbs-down"></span>
                </div>
            </div>
        </div>
    </div>
}